:root {
    --max-width: 500px;
}

* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

textarea {
    display: block;
    max-width: var(--max-width);
    width: 100%;
    height: max-content;
    min-height: 60px;
}

.decodeOutput,
.encodeOutput {
    border: 1px solid black;
    min-height: 100px;
    max-width: var(--max-width);
    width: 100%;
    padding: 10px;
}

h4 {
    display: inline;
}
